---
title: apibrain 的技术博客
description: 关于技术的博客！前端、后端、数据库、工具、极客思想、人文思考以及一些流水账。
---
{% include showcase.html %}
{% include greeting.html %}

{% if site.posts != empty %}
<div class="recent-posts">
  <h1>最近的文章</h1>
  <ul class="homepage-posts container-fluid">
  {% for post in site.posts limit: 5 %}
    <li class="row">
      <time class="col-md-2 col-lg-2">{{ post.date | date_to_string | date: "%Y-%m-%d" }}</time>
      <h4 class="col-md-10 col-lg-10"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
    </li>
  {% endfor %}
  </ul>
  <a href="{{ site.baseurl }}/archive/" class="btn btn-primary">查看全部文章</a>
</div>
{% endif %}
